<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.opendevsolutions.braingain"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.opendevsolutions.braingain.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.opendevsolutions.braingain.MainActivity"></activity>
        <activity android:name="com.opendevsolutions.abc.ABCFragmentActivity"></activity>
        <activity android:name="com.opendevsolutions.abc.ABCFirstFragmentActivity"></activity>
        <activity android:name="com.opendevsolutions.abc.ABCSecondFragmentActivity"></activity>
        <activity android:name="com.opendevsolutions.abc.ABCQuizActivity"></activity>
        <activity android:name="com.opendevsolutions.directions.DirectionsFragmentActivity"></activity>
        <activity android:name="com.opendevsolutions.emotions.EmotionsFragmentActivity"></activity>
        <activity android:name="com.opendevsolutions.vowelsandconsonants.VowelsAndConsonantsActivity"></activity>
        <activity android:name="com.opendevsolutions.help.HelpFragmentActivity"></activity>
        <activity android:name="com.opendevsolutions.stories.StoriesFragmentActivity"></activity>
        <activity android:name="com.opendevsolutions.vowelsandconsonants.VowelFragmentActivity"></activity>
        <activity android:name="com.opendevsolutions.vowelsandconsonants.ConsonantFragmentActivity"></activity>
        <activity android:name="com.opendevsolutions.sql.lib.SQLViewActivity"></activity>
        
    </application>

</manifest>